
<link rel="stylesheet" href="/css/item.css" />
<style >
    .row a{
        border-bottom: none;
    }
    .special{
        padding: 0;
        padding: 2rem;
    }
</style>
<body class="is-loading">
    <!-- Wrapper 外包 s-->
    <div id="wrapper" class="fade-in">
        <!-- Intro 头部显示 s -->
        <!-- Intro 头部显示 e -->
        <!-- Header 头部logo start -->
        <%- partial('_partial/headerlogo') %>
        <!-- Nav 导航条 start -->
        <%- partial('_partial/nav') %>
        <%- partial('_partial/mainfirst') %>

        <section class="special" style="width:50rem;margin:0 auto">
                            <div class="row" style="border-bottom: none;">

        <% if (site.tags.length) { %>
			<script type="text/javascript" charset="utf-8" src="/js/tagcloud.js"></script>
			<script type="text/javascript" charset="utf-8" src="/js/tagcanvas.js"></script>
			<div class="widget-wrap" style="margin:0 auto">
				<div id="myCanvasContainer" class="widget tagcloud" style="margin:0 auto">
					<canvas width="720" height="500" id="resCanvas" style="width=100%">
						<%- tagcloud() %>
					</canvas>
				</div>
			</div>
		<% } %>

                            </div>
                    
        </section>

        <!-- Copyright 版权 start -->
        <%- partial('_partial/copyright') %>
    </div>
</body>